.img-containerDetail{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.containerDetail img{
    width: 62%;
    height: 100%;
    object-fit: contain;
}
.content-description-detail{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.item-count-container-grandfa{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.ItemListContainer h1{
 color: brown;
}
.content-description-detail .description{
    text-align: left;
}
.count-container {
    width: 80%;
}

.count-container a {
    color: black;
    text-decoration: none;
    padding: 10px;
}
.count-container button{
    width: 30%;
    margin: 1%;
}
