.ItemListContainer{
    height: 1000px;
    background-color: white;
}
.ItemListContainer h1{
    color: darkblue;
    font-style: oblique;
}
.ItemListContainer h1:hover{
    color: rgb(77, 77, 211);
    font-style: oblique;
}
.CardsContainer{
    display: flex;
    justify-content: left;
    /* width: 300px; */
}